* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 300;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background: url("assets/bg.svg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

header {
  width: 100%;
  margin: 3.75rem auto;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-btn-price {
  background-color: transparent;
  color: white;
  padding: 0.62rem;
  border: 2px solid rgb(54, 100, 218);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  width: 10.68rem;
  height: 3.18rem;
  font-size: 0.87rem;
}
header .header-btn-price:hover {
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  border-color: rgb(90, 136, 255);
}
header .header-btn-price:active {
  border: 2px solid rgb(13, 36, 92);
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
}

main {
  padding: 0 1.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contact-form {
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  max-width: 64.37rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto auto;
  border-radius: 1.25rem;
  padding: 2em 5em;
}
main .contact-form .close {
  position: absolute;
  top: -1em;
  right: -1em;
}
main .contact-form .close img {
  transition: all 0.3s;
}
main .contact-form .close img:hover {
  cursor: pointer;
  opacity: 0.7;
}
main .contact-form h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}
main .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1em 0;
  margin: 2.62rem 0;
  color: rgba(255, 255, 255, 0.5019607843);
}
main .contact-form form label {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
main .contact-form form input {
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  height: 3.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5019607843);
}
main .contact-form form input:user-invalid {
  border: 1px solid crimson;
}
main .contact-form form p {
  margin-top: 3em;
}
main .contact-form form button {
  background-color: transparent;
  color: white;
  padding: 0.62rem;
  border: 2px solid rgb(54, 100, 218);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  width: 10.93rem;
  height: 3.18rem;
  font-size: 1.25rem;
}
main .contact-form form button:hover {
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  border-color: rgb(90, 136, 255);
}
main .contact-form form button:active {
  border: 2px solid rgb(13, 36, 92);
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
}

footer {
  width: 100%;
  margin: 3.75rem auto 0 auto;
  padding: 3rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-links,
footer .footer-lng {
  display: flex;
  align-items: center;
  gap: 0 1em;
}
footer img {
  cursor: pointer;
  transition: opacity 0.2s linear;
}
footer img:hover {
  opacity: 0.7;
}
footer p {
  font-size: 0.87rem;
  line-height: 1.37rem;
}
footer #language {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
footer #language option {
  background: #1a1a1a;
  color: white;
  cursor: pointer;
}

.fadeIn {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.success-message {
  opacity: 0;
  visibility: hidden;
  width: 250px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(2, 190, 18, 0.596);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  color: white;
  transform: translateX(200%);
  transition: all 0.5s ease-in-out;
}

.consent-block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.consent-block .consent-input {
  cursor: pointer;
  background: transparent;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}
.consent-block .consent-label {
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
  transition: color 0.3s linear;
}
.consent-block .consent-label:hover {
  color: #4169e1;
}

.consent-dialog {
  position: fixed;
  inset: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 9999;
  width: 70%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 70%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  backdrop-filter: blur(66px);
  -webkit-backdrop-filter: blur(66px);
  gap: 0.5rem;
  color: #fff;
  transition: opacity 0.2s linear;
}
.consent-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.568627451);
}
.consent-dialog .consent-dialog-wrapper {
  margin: auto;
  width: 85%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.consent-dialog .consent-dialog-wrapper .consent-dialog-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.consent-dialog .consent-dialog-wrapper .consent-dialog-header .consent-dialog-title {
  font-size: 1.87rem;
  font-weight: bold;
  line-height: 2rem;
}
.consent-dialog .consent-dialog-wrapper .consent-dialog-header .consent-dialog-text {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.consent-dialog .consent-dialog-wrapper .consent-dialog-first-paragraph,
.consent-dialog .consent-dialog-wrapper .consent-dialog-second-paragraph,
.consent-dialog .consent-dialog-wrapper .consent-dialog-third-paragraph {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
}
.consent-dialog .consent-dialog-agree-btn {
  background-color: transparent;
  color: white;
  padding: 0.62rem;
  border: 2px solid rgb(54, 100, 218);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 3.18rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.consent-dialog .consent-dialog-agree-btn:hover {
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  border-color: rgb(90, 136, 255);
}
.consent-dialog .consent-dialog-agree-btn:active {
  border: 2px solid rgb(13, 36, 92);
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
}
.consent-dialog .consent-dialog-close {
  position: absolute;
  font-size: 1.25rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: none;
  outline-color: #4169e1;
  outline-offset: 0.5rem;
  border-radius: 1rem;
}

.active-success-message {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.disabled-btn {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

@media (width <= 640px) {
  body {
    background-size: cover;
    background-position: fixed;
    z-index: -1;
  }
  header {
    padding: 0 1.25rem;
    margin: 2rem 0;
  }
  header img {
    width: 14rem;
    height: auto;
  }
  header .header-btn-price {
    display: none;
  }
  main {
    margin: 0 1.25rem;
  }
  main .contact-form {
    padding: 1rem;
  }
  main .contact-form .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  main .contact-form .close img {
    transition: all 0.3s;
  }
  main .contact-form .close img:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  main .contact-form h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  main .contact-form form {
    margin: 1.5rem 0;
    gap: 0.5rem;
  }
  main .contact-form form label {
    font-size: 0.87rem;
    line-height: 1.2rem;
  }
  main .contact-form form input {
    height: 2.25rem;
    font-size: 0.87rem;
  }
  main .contact-form form p {
    font-size: 0.87rem;
    margin-top: 1em;
  }
  main .contact-form form button {
    width: 100%;
    height: 2.5rem;
    font-size: 0.87rem;
  }
  footer {
    width: 100%;
    height: 5rem;
    margin: 3.75rem auto 0 auto;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 1.25rem;
  }
  footer .footer-links,
  footer .footer-lng {
    display: flex;
    align-items: center;
    gap: 0 1em;
  }
  footer img {
    cursor: pointer;
    transition: opacity 0.2s linear;
  }
  footer img:hover {
    opacity: 0.7;
  }
  footer p {
    font-size: 0.87rem;
    line-height: 1.37rem;
  }
  footer #language {
    background: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }
  footer #language option {
    background: #1a1a1a;
    color: white;
    cursor: pointer;
  }
  .consent-dialog {
    position: fixed;
    inset: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid rgba(245, 245, 245, 0.103);
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(41px);
    -webkit-backdrop-filter: blur(41px);
    backdrop-filter: blur(66px);
    -webkit-backdrop-filter: blur(66px);
    gap: 0.5rem;
    color: #fff;
    overflow-y: auto;
    scroll-margin: 1rem;
  }
  .consent-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.568627451);
  }
  .consent-dialog .consent-dialog-wrapper {
    margin: auto;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .consent-dialog .consent-dialog-wrapper .consent-dialog-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .consent-dialog .consent-dialog-wrapper .consent-dialog-header .consent-dialog-title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1rem;
  }
  .consent-dialog .consent-dialog-wrapper .consent-dialog-header .consent-dialog-text {
    font-size: 0.87rem;
    line-height: 1.5rem;
  }
  .consent-dialog .consent-dialog-wrapper .consent-dialog-first-paragraph,
  .consent-dialog .consent-dialog-wrapper .consent-dialog-second-paragraph,
  .consent-dialog .consent-dialog-wrapper .consent-dialog-third-paragraph {
    font-size: 0.87rem;
    line-height: 1.2rem;
    text-align: center;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
  .consent-dialog .consent-dialog-agree-btn {
    background-color: transparent;
    color: white;
    padding: 0.62rem;
    border: 2px solid rgb(54, 100, 218);
    border-radius: 2rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    position: none;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-size: 0.87rem;
  }
  .consent-dialog .consent-dialog-agree-btn:hover {
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgb(90, 136, 255);
  }
  .consent-dialog .consent-dialog-agree-btn:active {
    border: 2px solid rgb(13, 36, 92);
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
  .consent-dialog .consent-dialog-close {
    position: absolute;
    font-size: 1.25rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: none;
    outline-color: #4169e1;
    outline-offset: 0.5rem;
    border-radius: 1rem;
  }
}
@media (640.1px < width < 1024px) {
  .consent-dialog {
    position: fixed;
    inset: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    border: 1px solid rgba(245, 245, 245, 0.103);
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(41px);
    -webkit-backdrop-filter: blur(41px);
    backdrop-filter: blur(66px);
    -webkit-backdrop-filter: blur(66px);
    gap: 0.5rem;
    color: #fff;
    overflow-y: auto;
    scroll-margin: 1rem;
  }
  .consent-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.568627451);
  }
  .consent-dialog .consent-dialog-wrapper {
    margin: auto;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .consent-dialog .consent-dialog-wrapper .consent-dialog-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .consent-dialog .consent-dialog-wrapper .consent-dialog-header .consent-dialog-title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1rem;
  }
  .consent-dialog .consent-dialog-wrapper .consent-dialog-header .consent-dialog-text {
    font-size: 0.87rem;
    line-height: 1.5rem;
  }
  .consent-dialog .consent-dialog-wrapper .consent-dialog-first-paragraph,
  .consent-dialog .consent-dialog-wrapper .consent-dialog-second-paragraph,
  .consent-dialog .consent-dialog-wrapper .consent-dialog-third-paragraph {
    font-size: 0.87rem;
    line-height: 1.2rem;
    text-align: center;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
  .consent-dialog .consent-dialog-agree-btn {
    background-color: transparent;
    color: white;
    padding: 0.62rem;
    border: 2px solid rgb(54, 100, 218);
    border-radius: 2rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    position: none;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-size: 0.87rem;
  }
  .consent-dialog .consent-dialog-agree-btn:hover {
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgb(90, 136, 255);
  }
  .consent-dialog .consent-dialog-agree-btn:active {
    border: 2px solid rgb(13, 36, 92);
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
  .consent-dialog .consent-dialog-close {
    position: absolute;
    font-size: 1.25rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: none;
    outline-color: #4169e1;
    outline-offset: 0.5rem;
    border-radius: 1rem;
  }
}/*# sourceMappingURL=contact.css.map */