* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 300;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
}

@mixin GLASS-BOX {
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
}

@mixin BUTTON {
  background-color: transparent;
  color: white;
  padding: 0.62rem;
  border: 2px solid rgba(54, 100, 218, 1);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;

  &:hover {
    backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgba(90, 136, 255, 1);
  }

  &:active {
    border: 2px solid rgba(13, 36, 92, 1);
    backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
}

body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background: url("assets/bg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

header {
  width: 100%;
  margin: 3.75rem auto;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-btn-price {
    @include BUTTON;
    width: 10.68rem;
    height: 3.18rem;
    font-size: 0.87rem;
  }
}

main {
  padding: 0 1.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-form {
    @include GLASS-BOX;
    max-width: 64.37rem;
    width: 100%;
    height: fit-content;
    margin: auto auto;
    border-radius: 1.25rem;
    padding: 2em 5em;

    .close {
      position: absolute;
      top: -1em;
      right: -1em;

      img {
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }

    h1 {
      font-size: 2rem;
      line-height: 2.25rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1em 0;
      margin: 2.62rem 0;
      color: #ffffff80;

      label {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      input {
        @include GLASS-BOX;
        height: 3.25rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 1.25rem;
        color: #ffffff80;

        &:user-invalid {
          border: 1px solid crimson;
        }
      }

      p {
        margin-top: 3em;
      }

      button {
        @include BUTTON;
        width: 10.93rem;
        height: 3.18rem;
        font-size: 1.25rem;
      }
    }
  }
}

footer {
  width: 100%;
  margin: 3.75rem auto 0 auto;
  padding: 3rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-links,
  .footer-lng {
    display: flex;
    align-items: center;
    gap: 0 1em;
  }

  img {
    cursor: pointer;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.7;
    }
  }

  p {
    font-size: 0.87rem;
    line-height: 1.37rem;
  }

  #language {
    background: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }

  #language option {
    background: #1a1a1a;
    color: white;
    cursor: pointer;
  }
}

.fadeIn {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.success-message {
  opacity: 0;
  visibility: hidden;
  width: 250px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(2, 190, 18, 0.596);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  color: white;
  transform: translateX(200%);
  transition: all 0.5s ease-in-out;
}

.consent-block {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .consent-input {
    cursor: pointer;
    background: transparent;
    backdrop-filter: none;
  }
  .consent-label {
    cursor: pointer;
    font-size: 1rem;
    text-decoration: underline;
    transition: color 0.3s linear;
    &:hover {
      color: #4169e1;
    }
  }
}
// DIALOG
.consent-dialog {
  position: fixed;
  inset: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 9999;
  width: 70%;
  min-height: fit-content;
  max-height: 70%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  @include GLASS-BOX;
  backdrop-filter: blur(66px);
  -webkit-backdrop-filter: blur(66px);
  gap: 0.5rem;
  color: #fff;

  transition: opacity 0.2s linear;

  &::backdrop {
    background-color: #00000091;
  }
  .consent-dialog-wrapper {
    margin: auto;
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .consent-dialog-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .consent-dialog-title {
        font-size: 1.87rem;
        font-weight: bold;
        line-height: 2rem;
      }
      .consent-dialog-text {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }
    }
    .consent-dialog-first-paragraph,
    .consent-dialog-second-paragraph,
    .consent-dialog-third-paragraph {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-align: center;
    }
  }
  .consent-dialog-agree-btn {
    @include BUTTON;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: fit-content;
    min-height: 3.18rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .consent-dialog-close {
    position: absolute;
    font-size: 1.25rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: none;
    outline-color: #4169e1;
    outline-offset: 0.5rem;
    border-radius: 1rem;
  }
}

.active-success-message {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.disabled-btn {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

@media (width <=640px) {
  body {
    background-size: cover;
    background-position: fixed;
    z-index: -1;
  }
  header {
    padding: 0 1.25rem;
    margin: 2rem 0;

    img {
      width: 14rem;
      height: auto;
    }

    .header-btn-price {
      display: none;
    }
  }

  main {
    margin: 0 1.25rem;

    .contact-form {
      padding: 1rem;

      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;

        img {
          transition: all 0.3s;

          &:hover {
            cursor: pointer;
            opacity: 0.7;
          }
        }
      }

      h1 {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      form {
        margin: 1.5rem 0;
        gap: 0.5rem;

        label {
          font-size: 0.87rem;
          line-height: 1.2rem;
        }

        input {
          height: 2.25rem;
          font-size: 0.87rem;
        }

        p {
          font-size: 0.87rem;
          margin-top: 1em;
        }

        button {
          width: 100%;
          height: 2.5rem;
          font-size: 0.87rem;
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 5rem;
    margin: 3.75rem auto 0 auto;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 1.25rem;

    .footer-links,
    .footer-lng {
      display: flex;
      align-items: center;
      gap: 0 1em;
    }

    img {
      cursor: pointer;
      transition: opacity 0.2s linear;

      &:hover {
        opacity: 0.7;
      }
    }

    p {
      font-size: 0.87rem;
      line-height: 1.37rem;
    }

    #language {
      background: transparent;
      color: white;
      outline: none;
      border: none;
      cursor: pointer;
    }

    #language option {
      background: #1a1a1a;
      color: white;
      cursor: pointer;
    }
  }

  .consent-dialog {
    position: fixed;
    inset: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    min-height: fit-content;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    @include GLASS-BOX;
    backdrop-filter: blur(66px);
    -webkit-backdrop-filter: blur(66px);
    gap: 0.5rem;
    color: #fff;
    overflow-y: auto;
    scroll-margin: 1rem;
    &::backdrop {
      background-color: #00000091;
    }
    .consent-dialog-wrapper {
      margin: auto;
      width: 100%;
      min-height: fit-content;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .consent-dialog-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .consent-dialog-title {
          font-size: 1.25rem;
          font-weight: bold;
          line-height: 1rem;
        }
        .consent-dialog-text {
          font-size: 0.87rem;
          line-height: 1.5rem;
        }
      }
      .consent-dialog-first-paragraph,
      .consent-dialog-second-paragraph,
      .consent-dialog-third-paragraph {
        font-size: 0.87rem;
        line-height: 1.2rem;
        text-align: center;
        hyphens: auto;
      }
    }
    .consent-dialog-agree-btn {
      @include BUTTON;
      position: none;
      min-width: fit-content;
      min-height: fit-content;
      margin: 0.5rem auto;
      padding: 0.5rem;
      font-size: 0.87rem;
    }
    .consent-dialog-close {
      position: absolute;
      font-size: 1.25rem;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      background: transparent;
      color: #fff;
      border: none;
      outline-color: #4169e1;
      outline-offset: 0.5rem;
      border-radius: 1rem;
    }
  }
}

@media (640.1px < width < 1024px) {
  .consent-dialog {
    position: fixed;
    inset: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%;
    min-height: fit-content;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    @include GLASS-BOX;
    backdrop-filter: blur(66px);
    -webkit-backdrop-filter: blur(66px);
    gap: 0.5rem;
    color: #fff;
    overflow-y: auto;
    scroll-margin: 1rem;
    &::backdrop {
      background-color: #00000091;
    }
    .consent-dialog-wrapper {
      margin: auto;
      width: 100%;
      min-height: fit-content;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .consent-dialog-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .consent-dialog-title {
          font-size: 1.25rem;
          font-weight: bold;
          line-height: 1rem;
        }
        .consent-dialog-text {
          font-size: 0.87rem;
          line-height: 1.5rem;
        }
      }
      .consent-dialog-first-paragraph,
      .consent-dialog-second-paragraph,
      .consent-dialog-third-paragraph {
        font-size: 0.87rem;
        line-height: 1.2rem;
        text-align: center;
        hyphens: auto;
      }
    }
    .consent-dialog-agree-btn {
      @include BUTTON;
      position: none;
      min-width: fit-content;
      min-height: fit-content;
      margin: 0.5rem auto;
      padding: 0.5rem;
      font-size: 0.87rem;
    }
    .consent-dialog-close {
      position: absolute;
      font-size: 1.25rem;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      background: transparent;
      color: #fff;
      border: none;
      outline-color: #4169e1;
      outline-offset: 0.5rem;
      border-radius: 1rem;
    }
  }
}
