* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 300;
}

.d-none {
  display: none;
}

/* Glass box */
@mixin GLASS-BOX {
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
}

@mixin SECTION {
  width: 80%;
  margin-left: auto;
  height: auto;
  min-height: 1080px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin LINE {
  filter: drop-shadow(0 0 5px #4169e1);
}

@mixin BUTTON {
  background-color: transparent;
  color: white;
  padding: 10px;
  border: 2px solid rgba(54, 100, 218, 1);
  border-radius: 25px;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;

  &:hover {
    backdrop-filter: blur(66px);
    box-shadow: 1px 20px 46px 0px rgba(42, 75, 160, 0.63);
    border-color: rgba(90, 136, 255, 1);
  }

  &:active {
    border: 2px solid rgba(13, 36, 92, 1);
    backdrop-filter: blur(66px);
    box-shadow: 1px 20px 46px 0px rgba(42, 75, 160, 0.63);
  }
}

body {
  background: url("assets/dark/bg-dark.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

header {
  width: 100%;
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-btn-price {
    @include BUTTON;
    width: 171px;
    height: 51px;
    font-size: 14px;
  }
}

aside {
  width: auto;
  position: fixed;
  top: 30%;

  .nav-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 1px;
    height: 450px;
    background-color: rgba(245, 245, 245, 0.274);
    z-index: -1;

    .nav-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff42;
      backdrop-filter: blur(10px);
      cursor: pointer;
      position: relative;
      left: -5px;
    }
  }
}

#section1 {
  @include SECTION;
  gap: 0 2em;
  min-height: auto;
  margin-bottom: 308px;

  p {
    font-size: 20px;
    line-height: 36px;
  }

  .section-content {
    position: relative;

    h1 {
      text-align: end;
      font-size: 112px;
      font-weight: normal;
      margin: 30px 0;
    }

    .phone-mockup {
      max-width: 809px;
      max-height: 593px;
    }
  }
}

#section2 {
  @include SECTION;
  position: relative;

  &::before {
    content: url("assets/section-second/section-second-line.svg");
    @include LINE;
    position: absolute;
    top: 35%;
    left: 55%;
    z-index: -1;
  }

  .section-content {
    h1 {
      text-align: end;
      font-size: 112px;
      font-weight: normal;
      margin: 38px 0;
    }

    .outsourcing {
      display: flex;
      justify-content: space-between;

      .second-section-box {
        display: flex;
        flex: 1;
        flex-direction: column;
        opacity: 0.5;
        transition: all 0.4s linear;

        h2 {
          font-size: 20px;
          line-height: 24px;
        }

        p {
          font-size: 14px;
          line-height: 21px;
        }

        hr {
          margin: 15px 0;
          border: 1px solid #fff;
        }
      }

      // ACTIVE CLASSES
      .active-second-section-box {
        opacity: 1;
        transition: all 0.3s linear;

        h2 {
          transition: all 0.3s linear;
          font-size: 32px;
        }

        hr {
          transition: all 0.3s linear;
          width: 0;
          animation: fill 2s ease;
          animation-fill-mode: both;
          border-color: #4169e1;
          border-color: #4169e1;
        }
      }
    }
  }

  .video-placeholder {
    @include GLASS-BOX;
    width: 1030px;
    height: 380px;
    margin: 61px auto;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: rgba(255, 255, 255, 0.164);
    }
  }
}

#section3 {
  @include SECTION;

  .section-content {
    h1 {
      text-align: end;
      font-size: 87px;
      line-height: 105px;
      font-weight: normal;
      margin: 60px 0;
    }

    .services-grid {
      display: flex;
      gap: 0 2em;
      margin: 2em 0;
      justify-content: flex-end;

      .service-item {
        @include GLASS-BOX;
        width: 220px;
        height: 283px;
        cursor: pointer;
        border-radius: 10px;
        justify-content: center;

        .service-icon {
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          background-color: rgba(255, 255, 255, 0.096);
        }

        p {
          height: 20%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 1em;
          font-size: 14px;
        }
      }
    }

    .services-bottom {
      width: 300px;
      display: flex;
      flex-direction: column;
      margin-left: auto;

      h2 {
        font-size: 36px;
        line-height: 36px;
        border-bottom: 2px solid #4169e1;
        margin-bottom: 60px;
      }

      p {
        font-size: 20px;
        line-height: 31px;
      }

      button {
        @include BUTTON;
        width: 134px;
        height: 51px;
        margin: 20px 0 20px auto;
      }
    }
  }
}

#section4 {
  @include SECTION;
  position: relative;

  &::after {
    content: url("assets/section-four/section-four-line.svg");
    @include LINE;
    position: absolute;
    top: -5%;
    left: 33%;
    z-index: -1;
  }

  .section-content {
    h1 {
      text-align: end;
      font-size: 87px;
      line-height: 105px;
      font-weight: normal;
      margin: 60px 0;
    }

    .stats-container {
      @include GLASS-BOX;
      width: 1159px;
      height: 334px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 2em;

      .stat-item {
        opacity: 0.5;
        flex: 1;
        transition: all 0.3s linear;

        h2 {
          transition: all 0.3s linear;
          font-size: 20px;
          line-height: 24px;
        }

        hr {
          transition: all 0.3s linear;
          margin: 1em 0;
          border-color: #fff;
        }

        p {
          font-size: 14px;
          line-height: 21px;
        }
      }

      .active-stat-item {
        opacity: 1;
        transition: all 0.3s linear;

        h2 {
          transition: all 0.3s linear;
          font-size: 32px;
        }

        hr {
          transition: all 0.3s linear;
          width: 0;
          animation: fill 2s ease;
          animation-fill-mode: both;
          border-color: #4169e1;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-links,
  .footer-lng {
    display: flex;
    align-items: center;
    gap: 0 1em;
  }

  img {
    cursor: pointer;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.7;
    }
  }

  p {
    font-size: 14px;
    line-height: 22px;
  }

  #language {
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
  }
}

// MEDIA QUERIES
@media (320px <=width <=440px) {
  .container {
    padding: 0 20px;
  }

  header {
    margin: 50px 0;

    img {
      width: 185px;
      height: 29px;
    }

    .header-btn-price {
      display: none;
    }
  }

  aside {
    display: none;
  }

  #section1 {
    width: 100%;
    gap: 1em;
    margin: 0 auto;
    margin-bottom: 108px;
    display: block;

    p {
      display: none;
    }

    .section-content {
      h1 {
        font-size: 60px;
        line-height: 72px;
        margin: 13px 0;
      }

      .section-default-hiddens {
        width: 85%;
        margin-left: auto;
        display: block;

        .default-hidden-text {
          display: block;
          font-size: 20px;
          line-height: 29px;
        }

        .default-hidden-button {
          @include BUTTON;
          width: 170px;
          height: 40px;
          margin: 16px 0;
        }
      }

      .phone-mockup {
        width: 100%;
        height: 100%;
      }
    }
  }

  #section2 {
    width: 100%;
    min-height: auto;
    margin-bottom: 107px;

    &::before {
      content: url("assets/section-second/section-second-mini-line.svg");
      @include LINE;
      position: absolute;
      top: -60%;
      right: 0;
      z-index: -1;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 135px;
        margin-top: 0;
      }

      .outsourcing {
        width: 100%;
        flex-direction: column;

        .second-section-box {
          border-left: 1px solid #fff;
          padding: 1em;

          h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
          }

          p {
            font-size: 14px;
            line-height: 21px;
            margin: 0 8px;
          }

          hr {
            display: none;
          }
        }

        // ACTIVE CLASSES
        .active-second-section-box {
          opacity: 1;
          border-color: #4169e1;
          transition: all 0.3s linear;

          h2 {
            transition: all 0.3s linear;
            font-size: 24px;
          }
        }
      }

      .video-placeholder {
        width: 100%;
        height: 175px;
      }
    }
  }

  #section3 {
    width: 100%;
    margin: 0 auto;
    min-height: auto;
    position: relative;

    &::before {
      content: url("assets/section-third/section-third-mini-line.svg");
      @include LINE;
      position: absolute;
      top: -30%;
      right: -5%;
      z-index: 1;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 46px;
        line-height: 55px;
        margin-bottom: 67px;
        margin-top: 0;
      }

      .services-grid {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-bottom: 68px;

        .service-item {
          width: 185px;
          height: 237px;

          .service-icon {
            height: 80%;

            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .services-bottom {
        h2 {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 37px;
        }

        p {
          font-size: 20px;
          line-height: 31px;
        }

        button {
          width: 175px;
          height: 51px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  #section4 {
    width: 100%;
    margin: 0 auto;
    min-height: auto;

    &::after {
      content: url("assets/section-four/section-four-mini-line.svg");
      @include LINE;
      position: absolute;
      top: -10%;
      left: 2%;
      z-index: -1;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 46px;
        line-height: 55px;
        margin-bottom: 15px;
        margin-top: 74px;
      }

      .stats-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 16px;

        .stat-item {
          border-left: 1px solid #fff;
          padding-left: 10px;
          padding: 1em;

          h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 12px;
          }

          hr {
            display: none;
          }

          p {
            margin: 0 8px;
          }
        }

        .active-stat-item {
          opacity: 1;
          border-color: #4169e1;
          transition: all 0.3s linear;

          h2 {
            transition: all 0.3s linear;
            font-size: 32px;
          }

          hr {
            transition: all 0.3s linear;
            border-color: #4169e1;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    margin: auto;
    height: 173px;
    margin-top: 28px;
    flex-direction: column;
    justify-content: center;
    gap: 24px 0;
  }
}

@media (440.1px <=width <=800px) {
  .container {
    padding: 0 20px;
  }

  header {
    margin: 50px 0;

    img {
      width: 185px;
      height: 29px;
    }

    .header-btn-price {
      display: none;
    }
  }

  aside {
    display: none;
  }

  #section1 {
    width: 100%;
    gap: 1em;
    margin: 0 auto;
    margin-bottom: 108px;
    display: block;

    p {
      display: none;
    }

    .section-content {
      h1 {
        font-size: 60px;
        line-height: 72px;
        margin: 13px 0;
      }

      .section-default-hiddens {
        width: 85%;
        margin-left: auto;
        display: block;

        .default-hidden-text {
          display: block;
          font-size: 20px;
          line-height: 29px;
        }

        .default-hidden-button {
          @include BUTTON;
          width: 170px;
          height: 40px;
          margin: 16px 0;
        }
      }

      .phone-mockup {
        width: 100%;
        height: 100%;
      }
    }
  }

  #section2 {
    width: 100%;
    min-height: auto;
    margin-bottom: 107px;

    &::before {
      display: none;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 135px;
        margin-top: 0;
      }

      .outsourcing {
        width: 100%;
        flex-direction: column;

        .second-section-box {
          border-left: 1px solid #fff;
          padding: 1em;

          h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
          }

          p {
            font-size: 14px;
            line-height: 21px;
            margin: 0 8px;
          }

          hr {
            display: none;
          }
        }

        // ACTIVE CLASSES
        .active-second-section-box {
          opacity: 1;
          border-color: #4169e1;
          transition: all 0.3s linear;

          h2 {
            transition: all 0.3s linear;
            font-size: 24px;
          }
        }
      }

      .video-placeholder {
        width: 100%;
        height: 175px;
      }
    }
  }

  #section3 {
    width: 100%;
    margin: 0 auto;
    min-height: auto;
    position: relative;

    &::before {
      content: url("assets/section-third/section-third-mini-line.svg");
      @include LINE;
      position: absolute;
      top: -30%;
      right: -5%;
      z-index: 1;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 46px;
        line-height: 55px;
        margin-bottom: 67px;
        margin-top: 0;
      }

      .services-grid {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-bottom: 68px;

        .service-item {
          width: 185px;
          height: 237px;

          .service-icon {
            height: 80%;

            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .services-bottom {
        h2 {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 37px;
        }

        p {
          font-size: 20px;
          line-height: 31px;
        }

        button {
          width: 175px;
          height: 51px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  #section4 {
    width: 100%;
    margin: 0 auto;
    min-height: auto;

    &::after {
      display: none;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 46px;
        line-height: 55px;
        margin-bottom: 15px;
        margin-top: 74px;
      }

      .stats-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 16px;

        .stat-item {
          border-left: 1px solid #fff;
          padding: 1em;

          h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 12px;
          }

          hr {
            display: none;
          }

          p {
            margin: 0 8px;
          }
        }

        .active-stat-item {
          opacity: 1;
          border-color: #4169e1;
          transition: all 0.3s linear;

          h2 {
            transition: all 0.3s linear;
            font-size: 32px;
          }

          hr {
            transition: all 0.3s linear;
            border-color: #4169e1;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    margin: auto;
    height: 173px;
    margin-top: 28px;
    flex-direction: column;
    justify-content: center;
    gap: 24px 0;
  }
}

@media (800.1px <=width <=1024px) {
  .container {
    padding: 0 20px;
  }

  header {
    width: 90%;
    margin: 50px auto;

    img {
      width: fit-content;
      height: fit-content;
    }
  }

  aside {
    display: none;
  }

  #section1 {
    width: 90%;
    gap: 0.5em;
    margin: 0 auto;
    margin-bottom: 108px;
    display: flex;

    p {
      width: 300px;
    }

    .section-content {
      h1 {
        font-size: 80px;
        line-height: 82px;
        margin: 13px 0;
      }

      .section-default-hiddens {
        display: none;
      }

      .phone-mockup {
        width: 100%;
        height: 100%;
      }
    }
  }

  #section2 {
    width: 90%;
    margin: 0 auto;
    min-height: auto;
    margin-bottom: 107px;

    &::before {
      display: none;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 70px;
        line-height: 82px;
        margin-bottom: 105px;
        margin-top: 0;
      }

      .outsourcing {
        width: 100%;
        gap: 24px 0;

        .second-section-box {
          h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
          }

          p {
            font-size: 14px;
            line-height: 21px;
            margin: 0 8px;
          }
        }
      }

      .video-placeholder {
        width: 100%;
        height: 375px;
      }
    }
  }

  #section3 {
    width: 90%;
    margin: 0 auto;
    min-height: auto;
    position: relative;

    &::before {
      content: url("assets/section-third/section-third-mini-line.svg");
      @include LINE;
      position: absolute;
      top: -30%;
      right: -8%;
      z-index: 1;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 67px;
        margin-top: 0;
      }

      .services-grid {
        width: 100%;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        margin-bottom: 68px;

        .service-item {
          width: 185px;
          height: 237px;

          .service-icon {
            height: 80%;

            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .services-bottom {
        h2 {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 37px;
        }

        p {
          font-size: 20px;
          line-height: 31px;
        }

        button {
          width: 175px;
          height: 51px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  #section4 {
    width: 90%;
    margin: 0 auto;
    min-height: auto;

    .section-content {
      width: 100%;

      h1 {
        font-size: 56px;
        line-height: 55px;
        margin-bottom: 35px;
        margin-top: 74px;
      }

      .stats-container {
        width: 100%;
        height: 250px;
        align-items: center;
        justify-content: center;
        padding: 16px;

        .stat-item {
          h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 12px;
          }

          p {
            margin: 0 8px;
          }
        }
      }
    }
  }

  footer {
    width: 90%;
    margin: auto;
    height: 173px;
    margin-top: 28px;
    gap: 24px 0;
  }
}

@media (1024.1px <=width <=1440px) {
  .container {
    padding: 0 20px;
  }

  header {
    width: 90%;
    margin: 50px auto;

    img {
      width: fit-content;
      height: fit-content;
    }
  }

  aside {
    display: none;
  }

  #section1 {
    width: 90%;
    gap: 0.5em;
    margin: 0 auto;
    margin-bottom: 108px;
    display: flex;

    p {
      width: 300px;
    }

    .section-content {
      h1 {
        font-size: 80px;
        line-height: 82px;
        margin: 13px 0;
      }

      .section-default-hiddens {
        display: none;
      }

      .phone-mockup {
        width: 100%;
        height: 100%;
      }
    }
  }

  #section2 {
    width: 90%;
    margin: 0 auto;
    min-height: auto;
    margin-bottom: 107px;

    &::before {
      display: none;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 70px;
        line-height: 82px;
        margin-bottom: 105px;
        margin-top: 0;
      }

      .outsourcing {
        width: 100%;
        gap: 24px 0;

        .second-section-box {
          h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
          }

          p {
            font-size: 14px;
            line-height: 21px;
            margin: 0 8px;
          }
        }
      }

      .video-placeholder {
        width: 100%;
        height: 375px;
      }
    }
  }

  #section3 {
    width: 90%;
    margin: 0 auto;
    min-height: auto;
    position: relative;

    &::before {
      content: url("assets/section-third/section-third-mini-line.svg");
      @include LINE;
      position: absolute;
      top: -30%;
      right: -8%;
      z-index: 1;
    }

    .section-content {
      width: 100%;

      h1 {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 67px;
        margin-top: 0;
      }

      .services-grid {
        width: 100%;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        margin-bottom: 68px;

        .service-item {
          width: 185px;
          height: 237px;

          .service-icon {
            height: 80%;

            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      .services-bottom {
        h2 {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 37px;
        }

        p {
          font-size: 20px;
          line-height: 31px;
        }

        button {
          width: 175px;
          height: 51px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  #section4 {
    width: 90%;
    margin: 0 auto;
    min-height: auto;

    .section-content {
      width: 100%;

      h1 {
        font-size: 56px;
        line-height: 55px;
        margin-bottom: 35px;
        margin-top: 74px;
      }

      .stats-container {
        width: 100%;
        height: 250px;
        align-items: center;
        justify-content: center;
        padding: 16px;

        .stat-item {
          h2 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 12px;
          }

          p {
            margin: 0 8px;
          }
        }
      }
    }
  }

  footer {
    width: 90%;
    margin: auto;
    height: 173px;
    margin-top: 28px;
    gap: 24px 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fill {
  to {
    width: 100%;
  }
}