* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 300;
  scroll-behavior: smooth !important;
}

.d-none {
  display: none;
}

/* Glass box */
@mixin GLASS-BOX {
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
}

@mixin SECTION {
  width: 80%;
  height: 100%;
  min-height: fit-content;
  max-height: 100dvh;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

@mixin LINE {
  filter: drop-shadow(0 0 5px #4169e1);
}

@mixin BUTTON {
  background-color: transparent;
  color: white;
  padding: 0.62rem;
  border: 2px solid rgba(54, 100, 218, 1);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;

  &:hover {
    backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgba(90, 136, 255, 1);
  }

  &:active {
    border: 2px solid rgba(13, 36, 92, 1);
    backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
}

body {
  background: url("assets/bg.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;

  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100dvh;
  margin: auto;
  overflow-x: hidden;
  padding: 0 1.25rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  position: sticky;
  top: 3.75rem;
  z-index: 99;

  .header-btn-price {
    @include BUTTON;
    width: 10.68rem;
    height: 3.18rem;
    font-size: 0.87rem;
  }
}

aside {
  width: auto;
  position: fixed;
  top: 30%;

  .nav-line {
    height: 24rem;
    width: 1px;
    border: 1px dashed #ffffff49;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .nav-dot {
      width: 0.32rem;
      height: 0.32rem;
      border-radius: 50%;
      background: #ffffff98;
      cursor: pointer;

      span {
        opacity: 0;
        @include GLASS-BOX;
        display: block;
        min-width: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding: 8px 16px;
        border-radius: 20px;
        position: relative;
        left: 1em;
        top: -0.8rem;
      }
    }

    // ACTIVE CLASSES
    .active-dot {
      background: #4169e1;
      box-shadow: 0 0 10px 0 #4169e1;
      transition: all 0.3s linear;

      span {
        opacity: 1;
        animation: scaleLittle 0.5s linear both;
      }
    }

    @keyframes scaleLittle {
      50% {
        scale: 1.2;
      }
      100% {
        scale: 1;
      }
    }
  }
}

.section {
  scroll-snap-align: center;
}

#section1 {
  @include SECTION;

  .section1-block {
    display: flex;
    align-items: center;
    gap: 0 2em;

    p {
      font-size: 1.25rem;
      line-height: 2.25rem;
      hyphens: auto;
    }

    .section-content {
      position: relative;

      h1 {
        text-align: end;
        font-size: 7rem;
        font-weight: normal;
      }

      .phone-mockup {
        max-width: 50.56rem;
        max-height: 37.06rem;
      }
    }
  }
}

#section2 {
  @include SECTION;

  .section-content {
    h1 {
      text-align: end;
      font-size: 7rem;
      font-weight: normal;
      margin: 2.37rem 0;
    }

    .outsourcing {
      display: flex;
      justify-content: space-between;

      .second-section-box {
        display: flex;
        flex: 1;
        flex-direction: column;
        opacity: 0.5;
        transition: all 0.4s linear;
        will-change: transform, opacity;
        transform: translateZ(0);
        h2 {
          font-size: 1.25rem;
          line-height: 2rem;
        }

        p {
          font-size: 0.87rem;
          line-height: 1.31rem;
        }

        hr {
          margin: 1rem 0;
          border: 1px solid #fff;
        }
      }

      // ACTIVE CLASSES
      .active-second-section-box {
        opacity: 1;
        transition: all 0.3s linear;

        h2 {
          transition: all 0.3s linear;
          font-size: 32px;
        }

        hr {
          transition: all 0.3s linear;
          max-width: 0;
          animation: fill 2s ease;
          animation-fill-mode: both;
          border-color: #4169e1;
          border-color: #4169e1;
        }
      }
    }
  }

  .video-placeholder {
    @include GLASS-BOX;
    width: 64.37rem;
    height: 23.75rem;
    margin: 3.81rem auto;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      background-color: rgba(255, 255, 255, 0.164);
    }
  }
}

#section3 {
  @include SECTION;
  flex-direction: column;
  align-items: flex-end;

  .section-content {
    h1 {
      text-align: end;
      font-size: 5.43rem;
      line-height: 6.56rem;
      font-weight: normal;
      margin-bottom: 3.75rem;
    }

    .services-grid {
      display: flex;
      gap: 0 2em;
      margin: 2em 0;
      justify-content: flex-end;

      .service-item {
        @include GLASS-BOX;
        width: 13.75rem;
        height: 17.68rem;
        cursor: pointer;
        border-radius: 0.62rem;
        justify-content: center;

        .service-icon {
          height: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0.62rem;
          background-color: rgba(255, 255, 255, 0.096);
        }

        p {
          height: 20%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 1em;
          font-size: 0.9rem;
        }
      }
    }

    .services-bottom {
      width: 18.75rem;
      display: flex;
      flex-direction: column;
      margin-left: auto;

      h2 {
        font-size: 2.25rem;
        line-height: 2.25rem;
        border-bottom: 2px solid #4169e1;
        margin-bottom: 3.75rem;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.93rem;
      }

      button {
        @include BUTTON;
        width: 8.37rem;
        height: 3.18rem;
        margin: 1.25rem 0 1.25rem auto;
      }
    }
  }
}

.last-section {
  #section4 {
    @include SECTION;
    margin-bottom: 2rem;

    .section-content {
      h1 {
        text-align: end;
        font-size: 5.43rem;
        line-height: 6.56rem;
        font-weight: normal;
        margin: 3.75rem 0;
      }

      .stats-container {
        @include GLASS-BOX;
        width: 72.43rem;
        height: 20.87rem;
        border-radius: 0.62rem;
        display: flex;
        align-items: center;
        padding: 2em;
        flex-wrap: wrap;

        .stat-item {
          opacity: 0.5;
          flex: 1;
          will-change: transform, opacity;
          transform: translateZ(0);

          h2 {
            font-size: 1.25rem;
            line-height: 1.5rem;
          }

          hr {
            margin: 1em 0;
            border-color: #fff;
          }

          p {
            font-size: 0.87rem;
            line-height: 1.31rem;
          }
        }

        .active-stat-item {
          opacity: 1;

          h2 {
            font-size: 2rem;
          }

          hr {
            border-color: #4169e1;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 11.12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-links,
    .footer-lng {
      display: flex;
      align-items: center;
      gap: 0 1em;
    }

    img {
      cursor: pointer;
      transition: opacity 0.2s linear;

      &:hover {
        opacity: 0.7;
      }
    }

    p {
      font-size: 0.87rem;
      line-height: 1.37rem;
    }

    #language {
      background: transparent;
      color: white;
      outline: none;
      border: none;
      cursor: pointer;
    }

    #language option {
      background: #1a1a1a;
      color: white;
      cursor: pointer;
    }
  }
}

.fadeIn {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

@keyframes fill {
  to {
    max-width: 100%;
  }
}

@keyframes spill {
  from {
    opacity: 0.5;
  }

  to {
    height: 9.375rem;
    opacity: 1;
  }
}

// MEDIA QUERIES
@media (320px <=width <=440px) {
  body {
    overflow-y: auto;
  }

  .container {
    min-height: fit-content;
    height: 100%;
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }

  header {
    position: static;
    margin: 2rem 0;

    img {
      width: 14rem;
      height: auto;
    }

    .header-btn-price {
      display: none;
    }
  }

  aside {
    display: none;
  }

  #section1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;

    .section1-block {
      p {
        display: none;
      }

      .section-content {
        h1 {
          font-size: 4rem;
          line-height: 3.875rem;
          margin: 1.81rem 0;
        }

        .section-default-hiddens {
          width: 85%;
          margin-left: auto;
          display: block;

          .default-hidden-text {
            display: block;
            font-size: 1.3rem;
            line-height: 1.81rem;
          }

          .default-hidden-button {
            @include BUTTON;
            width: 12.5rem;
            height: 3.125rem;
            margin: 1rem 0;
          }
        }

        .phone-mockup {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #section2 {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    margin-bottom: 6.68rem;

    .section-content {
      width: 100%;

      h1 {
        font-size: 3.5rem;
        line-height: 3.87rem;
        margin-bottom: 2.5rem;
        margin-top: 0;
      }

      .outsourcing {
        width: 100%;
        flex-direction: column;

        .second-section-box {
          border-left: 1px solid #fff;
          padding: 1em;
          transform: translateZ(0);
          will-change: transform;

          h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 0 0.5rem;
          }

          hr {
            display: none;
          }
        }

        // ACTIVE CLASSES
        .active-second-section-box {
          opacity: 1;
          border-color: #4169e1;
          transition: all 0.3s linear;

          h2 {
            font-size: 1.7rem;
          }
        }
      }

      .video-placeholder {
        width: 100%;
        max-height: 11rem;
        margin: 0;
        margin-top: 3rem;
      }
    }
  }

  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;

    .section-content {
      width: 100%;

      h1 {
        font-size: 3rem;
        line-height: 3.43rem;
        margin-bottom: 4rem;
        margin-top: 0;
        word-wrap: break-word;
      }

      .services-grid {
        width: 100%;
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: center;
        margin-bottom: 4rem;

        .service-item {
          width: calc(100% / 2 - 0.62rem);
          // width for safari and old browsers
          width: -webkit-calc(100% / 2 - 0.62rem);
          height: 14.81rem;

          .service-icon {
            height: 80%;

            img {
              width: 6.25rem;
              height: 6.25rem;
            }
          }
        }
      }

      .services-bottom {
        h2 {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 37px;
        }

        p {
          font-size: 20px;
          line-height: 31px;
        }

        button {
          width: 175px;
          height: 51px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .last-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.25rem;
    gap: 1.5rem 0;

    #section4 {
      width: 100%;
      height: 50%;
      align-items: flex-start;

      .section-content {
        width: 100%;

        h1 {
          font-size: 3rem;
          line-height: 3rem;
          margin-bottom: 1.5rem;
        }

        .stats-container {
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 1rem;

          .stat-item {
            border-left: 1px solid #fff;
            padding-left: 0.62rem;
            padding: 1em;

            h2 {
              font-size: 1.5rem;
              margin-bottom: 0.5rem;
            }

            hr {
              display: none;
            }

            p {
              font-size: 1rem;
              margin: 0 0.5rem;
            }
          }

          .active-stat-item {
            opacity: 1;
            border-color: #4169e1;

            h2 {
              font-size: 1.7rem;
            }

            hr {
              border-color: #4169e1;
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      margin: 0 auto;
      height: 10.81rem;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem 0;

      p {
        font-size: 1rem;
      }

      select {
        font-size: 1rem;
      }
    }
  }
}

@media (440.1px <=width <=768px) {
  body {
    overflow-y: auto;
  }

  .container {
    min-height: fit-content;
    height: 100%;
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }

  header {
    position: static;
    margin: 2rem 0;

    img {
      width: 14rem;
      height: auto;
    }

    .header-btn-price {
      display: none;
    }
  }

  aside {
    display: none;
  }

  #section1 {
    width: 100%;
    min-height: fit-content;
    max-height: 100dvh;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
    margin-bottom: 6.25rem;

    .section1-block {
      p {
        display: none;
      }

      .section-content {
        h1 {
          font-size: 4rem;
          line-height: 3.875rem;
          margin: 1.81rem 0;
        }

        .section-default-hiddens {
          width: 85%;
          margin-left: auto;
          display: block;

          .default-hidden-text {
            display: block;
            font-size: 1.3rem;
            line-height: 1.81rem;
          }

          .default-hidden-button {
            @include BUTTON;
            width: 12.5rem;
            height: 3.125rem;
            margin: 1rem 0;
          }
        }

        .phone-mockup {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #section2 {
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    margin-bottom: 4.25rem;

    .section-content {
      width: 100%;

      h1 {
        font-size: 3.5rem;
        line-height: 3.87rem;
        margin-bottom: 2.5rem;
        margin-top: 0;
      }

      .outsourcing {
        width: 100%;
        flex-direction: column;

        .second-section-box {
          border-left: 1px solid #fff;
          padding: 1em;

          h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 0 0.5rem;
          }

          hr {
            display: none;
          }
        }

        // ACTIVE CLASSES
        .active-second-section-box {
          opacity: 1;
          border-color: #4169e1;

          h2 {
            font-size: 1.7rem;
          }
        }
      }

      .video-placeholder {
        width: 100%;
        max-height: 15rem;
        margin: 0;
        margin-top: 5rem;
      }
    }
  }

  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;

    .section-content {
      width: 100%;

      h1 {
        font-size: 3rem;
        line-height: 3.43rem;
        margin-bottom: 4rem;
        margin-top: 0;
        word-wrap: break-word;
      }

      .services-grid {
        width: 100%;
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: center;
        margin-bottom: 4rem;

        .service-item {
          width: calc(100% / 2 - 0.62rem);
          // width for safari and old browsers
          width: -webkit-calc(100% / 2 - 0.62rem);
          height: 14.81rem;

          .service-icon {
            height: 80%;

            img {
              width: 6.25rem;
              height: 6.25rem;
            }
          }
        }
      }

      .services-bottom {
        h2 {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 37px;
        }

        p {
          font-size: 20px;
          line-height: 31px;
        }

        button {
          width: 175px;
          height: 51px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .last-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.25rem;

    #section4 {
      width: 100%;
      height: 50%;
      align-items: flex-start;

      .section-content {
        width: 100%;

        h1 {
          font-size: 3rem;
          line-height: 3rem;
          margin-bottom: 1.5rem;
        }

        .stats-container {
          width: 100%;
          height: 100%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 1rem;

          .stat-item {
            border-left: 1px solid #fff;
            padding-left: 0.62rem;
            padding: 1em;

            h2 {
              font-size: 1.5rem;
              margin-bottom: 0.5rem;
            }

            hr {
              display: none;
            }

            p {
              font-size: 1rem;
              margin: 0 0.5rem;
            }
          }

          .active-stat-item {
            opacity: 1;
            border-color: #4169e1;

            h2 {
              font-size: 1.7rem;
            }

            hr {
              transition: all 0.3s linear;
              border-color: #4169e1;
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      margin: 0 auto;
      height: 10.81rem;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem 0;

      p {
        font-size: 1rem;
      }

      select {
        font-size: 1rem;
      }
    }
  }
}

@media (768.1px <=width <=1024px) {
  body {
    overflow-y: auto;
  }

  .container {
    min-height: fit-content;
    height: 100%;
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }

  header {
    position: static;
    margin: 2rem 0;

    img {
      width: 14rem;
      height: auto;
    }

    .header-btn-price {
      display: none;
    }
  }

  aside {
    display: none;
  }

  #section1 {
    width: 100%;
    min-height: fit-content;
    max-height: 100dvh;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
    margin-bottom: 6.25rem;

    .section1-block {
      p {
        display: none;
      }

      .section-content {
        h1 {
          font-size: 5rem;
          line-height: 3.875rem;
          margin: 2.81rem 0;
        }

        .section-default-hiddens {
          width: 85%;
          margin-left: auto;
          display: block;

          .default-hidden-text {
            display: block;
            font-size: 1.3rem;
            line-height: 1.81rem;
          }

          .default-hidden-button {
            @include BUTTON;
            width: 12.5rem;
            height: 3.125rem;
            margin: 1rem 0;
          }
        }

        .phone-mockup {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #section2 {
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    margin-bottom: 4.25rem;

    .section-content {
      width: 100%;

      h1 {
        font-size: 3.5rem;
        line-height: 3.87rem;
        margin-bottom: 2.5rem;
        margin-top: 0;
      }

      .outsourcing {
        width: 100%;

        .second-section-box {
          border-left: 1px solid #fff;
          padding: 1em;

          h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-bottom: 0.5rem;
          }

          p {
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 0 0.5rem;
          }

          hr {
            display: none;
          }
        }

        // ACTIVE CLASSES
        .active-second-section-box {
          opacity: 1;
          border-color: #4169e1;

          h2 {
            font-size: 1.7rem;
          }
        }
      }

      .video-placeholder {
        width: 100%;
        max-height: 17rem;
        margin: 0;
        margin-top: 5rem;
      }
    }
  }

  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;

    .section-content {
      width: 100%;

      h1 {
        font-size: 3rem;
        line-height: 3.43rem;
        margin-bottom: 4rem;
        margin-top: 0;
        word-wrap: break-word;
      }

      .services-grid {
        width: 100%;
        gap: 1.2rem;
        flex-wrap: wrap;
        margin-bottom: 4rem;

        .service-item {
          height: 14.81rem;

          .service-icon {
            height: 80%;

            img {
              width: 6.25rem;
              height: 6.25rem;
            }
          }
        }
      }

      .services-bottom {
        h2 {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 37px;
        }

        p {
          font-size: 20px;
          line-height: 31px;
        }

        button {
          width: 175px;
          height: 51px;
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
  }

  .last-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.25rem;

    #section4 {
      width: 100%;
      height: 50%;
      align-items: flex-start;

      .section-content {
        width: 100%;

        h1 {
          font-size: 3rem;
          line-height: 3rem;
          margin-bottom: 3.5rem;
        }

        .stats-container {
          width: 100%;
          height: 20rem;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          justify-content: flex-start;
          padding: 1rem;

          .stat-item {
            border-left: none;
            padding-left: 0.62rem;
            padding: 1em;

            h2 {
              font-size: 1.5rem;
              margin-bottom: 0.5rem;
            }

            hr {
              display: block;
            }

            p {
              font-size: 1rem;
              margin: 0 0.5rem;
            }
          }

          .active-stat-item {
            opacity: 1;

            h2 {
              font-size: 1.7rem;
            }

            hr {
              border-color: #4169e1;
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      margin: 0 auto;
      height: 10.81rem;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem 0;

      p {
        font-size: 1rem;
      }

      select {
        font-size: 1rem;
      }
    }
  }
}
