/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

.d-none {
  display: none;
}

/* Glass Box Mixin */
/* Section Mixin */
/* Line Mixin */
/* Button Mixin */
/* Body Styles */
body {
  background: url("assets/bg.svg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  overflow: hidden;
  position: relative;
}

/* Container Styles */
.container {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  overflow-x: hidden;
  padding: 0 1.25rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.container::-webkit-scrollbar {
  display: none;
}

/* Header Styles */
header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}
header .header-btn-price {
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(54, 100, 218);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  width: 150px;
  height: 50px;
  font-size: 1rem;
}
header .header-btn-price:hover {
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  border-color: rgb(90, 136, 255);
}
header .header-btn-price:active {
  border: 2px solid rgb(13, 36, 92);
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
}

/* Aside Styles */
aside {
  width: auto;
  position: fixed;
  top: 30%;
  left: 20px;
}
aside .nav-line {
  height: 300px;
}
aside .nav-line .nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
aside .nav-line .nav-dot::after {
  visibility: hidden;
  content: "";
  width: 1px;
  height: 100%;
  background: #4169e1;
  cursor: pointer;
  position: absolute;
  top: -150px;
  left: 4.5px;
}
aside .nav-line .nav-dot::before {
  visibility: hidden;
  content: "";
  width: 1px;
  height: 100%;
  background: #4169e1;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 4.5px;
}
aside .nav-line .active-dot {
  background: #4169e1;
  box-shadow: 0 0 10px 0 #4169e1;
  transition: all 0.3s linear 0.3s;
}
aside .nav-line .active-dot span {
  display: block;
  width: 100%;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  padding: 8px 16px;
  background: #252525;
  color: #fff;
  border-radius: 20px;
  left: 20px;
  top: -30px;
}
aside .nav-line .active-dot::after {
  visibility: visible;
  animation: growFromTop 0.3s linear forwards;
  animation-fill-mode: both;
}
aside .nav-line .second-active-dot {
  background: #4169e1;
  box-shadow: 0 0 10px 0 #4169e1;
  transition: all 0.3s linear 0.3s;
}
aside .nav-line .second-active-dot span {
  display: block;
  width: 100%;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  padding: 8px 16px;
  background: #252525;
  color: #fff;
  border-radius: 20px;
  left: 20px;
  top: -30px;
}
aside .nav-line .second-active-dot::before {
  visibility: visible;
  animation: growFromBottom 0.3s linear forwards;
  animation-fill-mode: both;
}
@keyframes growFromBottom {
  from {
    height: 0;
    top: 150px;
  }
  to {
    height: 150px;
    top: 0;
  }
}
@keyframes growFromTop {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}

/* Main Section Styles */
.section {
  scroll-snap-align: center;
  padding: 2rem 0;
}

/* Section 1 Styles */
#section1 {
  width: 80%;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100vh;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#section1 .section1-block {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#section1 .section1-block .section-content {
  position: relative;
}
#section1 .section1-block .section-content h1 {
  text-align: end;
  font-size: 3rem;
  font-weight: normal;
}
#section1 .section1-block .section-content .phone-mockup {
  max-width: 100%;
  height: auto;
}

/* Section 2 Styles */
#section2 {
  width: 80%;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100vh;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#section2 .section-content h1 {
  text-align: end;
  font-size: 3rem;
  font-weight: normal;
  margin: 2rem 0;
}
#section2 .section-content .outsourcing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#section2 .section-content .outsourcing .second-section-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  opacity: 0.5;
  transition: all 0.4s linear;
}
#section2 .section-content .outsourcing .second-section-box h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
#section2 .section-content .outsourcing .second-section-box p {
  font-size: 1rem;
  line-height: 1.31rem;
}
#section2 .section-content .outsourcing .second-section-box hr {
  margin: 1rem 0;
  border: 1px solid #fff;
}
#section2 .section-content .outsourcing .active-second-section-box {
  opacity: 1;
  transition: all 0.3s linear;
}
#section2 .section-content .outsourcing .active-second-section-box h2 {
  transition: all 0.3s linear;
  font-size: 2rem;
}
#section2 .section-content .outsourcing .active-second-section-box hr {
  transition: all 0.3s linear;
  width: 0;
  animation: fill 2s ease;
  animation-fill-mode: both;
  border-color: #4169e1;
}
#section2 .video-placeholder {
  border: 1px solid rgba(245, 245, 245, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  width: 100%;
  height: 300px;
  margin: 2rem auto;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
#section2 .video-placeholder:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

/* Section 3 Styles */
#section3 {
  width: 80%;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100vh;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
}
#section3 .section-content h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: normal;
  margin-bottom: 2rem;
}
#section3 .section-content .services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}
#section3 .section-content .services-grid .service-item {
  border: 1px solid rgba(245, 245, 245, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 0.5rem;
}
#section3 .section-content .services-grid .service-item .service-icon {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
#section3 .section-content .services-grid .service-item p {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  font-size: 0.9rem;
}
#section3 .section-content .services-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section3 .section-content .services-bottom h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  border-bottom: 2px solid #4169e1;
  margin-bottom: 1rem;
}
#section3 .section-content .services-bottom p {
  font-size: 1rem;
  line-height: 1.5rem;
}
#section3 .section-content .services-bottom button {
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(54, 100, 218);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  width: 150px;
  height: 40px;
  margin: 1rem 0;
}
#section3 .section-content .services-bottom button:hover {
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  border-color: rgb(90, 136, 255);
}
#section3 .section-content .services-bottom button:active {
  border: 2px solid rgb(13, 36, 92);
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
}

/* Section 4 Styles */
#section4 {
  width: 80%;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100vh;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
}
#section4 .section-content h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: normal;
  margin: 2rem 0;
}
#section4 .section-content .stats-container {
  border: 1px solid rgba(245, 245, 245, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}
#section4 .section-content .stats-container .stat-item {
  opacity: 0.5;
  flex: 1;
  transition: all 0.3s linear;
}
#section4 .section-content .stats-container .stat-item h2 {
  transition: all 0.3s linear;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
#section4 .section-content .stats-container .stat-item hr {
  transition: all 0.3s linear;
  margin: 0.5rem 0;
  border-color: #fff;
}
#section4 .section-content .stats-container .stat-item p {
  font-size: 0.9rem;
  line-height: 1.31rem;
}
#section4 .section-content .stats-container .active-stat-item {
  opacity: 1;
  transition: all 0.3s linear;
}
#section4 .section-content .stats-container .active-stat-item h2 {
  transition: all 0.3s linear;
  font-size: 1.5rem;
}
#section4 .section-content .stats-container .active-stat-item hr {
  transition: all 0.3s linear;
  border-color: #4169e1;
}

/* Footer Styles */
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.footer .footer-links,
.footer .footer-lng {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer img {
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.footer img:hover {
  opacity: 0.7;
}
.footer p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.footer #language {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.footer #language option {
  background: #1a1a1a;
  color: white;
  cursor: pointer;
}

/* Responsive Styles */
/* For Mobile Devices */
@media (max-width: 440px) {
  body {
    overflow-y: auto;
  }
  .container {
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }
  header {
    position: static;
    margin: 2rem 0;
  }
  header img {
    width: 14rem;
    height: auto;
  }
  header .header-btn-price {
    display: none;
  }
  aside {
    display: none;
  }
  #section1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  #section1 .section1-block p {
    display: none;
  }
  #section1 .section1-block .section-content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 1rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens {
    width: 100%;
    margin-left: auto;
    display: block;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-text {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button {
    background-color: transparent;
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(54, 100, 218);
    border-radius: 2rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    width: 10rem;
    height: 2.5rem;
    margin: 0.5rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:hover {
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgb(90, 136, 255);
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:active {
    border: 2px solid rgb(13, 36, 92);
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
  #section1 .section1-block .section-content .phone-mockup {
    width: 100%;
    height: auto;
  }
  #section2 {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    margin-bottom: 3rem;
  }
  #section2 .section-content {
    width: 100%;
  }
  #section2 .section-content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  #section2 .section-content .outsourcing {
    width: 100%;
    flex-direction: column;
  }
  #section2 .section-content .outsourcing .second-section-box {
    border-left: 1px solid #fff;
    padding: 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box p {
    font-size: 0.9rem;
    line-height: 1.1rem;
    margin: 0 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box hr {
    display: none;
  }
  #section2 .section-content .outsourcing .active-second-section-box {
    opacity: 1;
    border-color: #4169e1;
    transition: all 0.3s linear;
  }
  #section2 .section-content .outsourcing .active-second-section-box h2 {
    transition: all 0.3s linear;
    font-size: 1.5rem;
  }
  #section2 .section-content .video-placeholder {
    width: 100%;
    max-height: 10rem;
    margin: 0;
    margin-top: 2rem;
  }
  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  #section3 .section-content {
    width: 100%;
  }
  #section3 .section-content h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
    word-wrap: break-word;
  }
  #section3 .section-content .services-grid {
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
  #section3 .section-content .services-grid .service-item {
    width: calc(50% - 0.5rem);
    width: -webkit-calc(100% / 2 - 0.5rem);
    height: 10rem;
  }
  #section3 .section-content .services-grid .service-item .service-icon {
    height: 70%;
  }
  #section3 .section-content .services-grid .service-item .service-icon img {
    width: 4rem;
    height: 4rem;
  }
  #section3 .section-content .services-grid .service-item p {
    height: 30%;
    font-size: 0.8rem;
  }
  #section3 .section-content .services-bottom h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
  #section3 .section-content .services-bottom p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #section3 .section-content .services-bottom button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  #section4 {
    width: 100%;
    height: 100%;
    align-items: flex-start;
  }
  #section4 .section-content {
    width: 100%;
  }
  #section4 .section-content h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  #section4 .section-content .stats-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
  }
  #section4 .section-content .stats-container .stat-item {
    border-left: 1px solid #fff;
    padding-left: 0.5rem;
    padding: 0.5rem;
  }
  #section4 .section-content .stats-container .stat-item h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  #section4 .section-content .stats-container .stat-item hr {
    display: none;
  }
  #section4 .section-content .stats-container .stat-item p {
    font-size: 0.9rem;
    margin: 0 0.5rem;
  }
  #section4 .section-content .stats-container .active-stat-item {
    opacity: 1;
    border-color: #4169e1;
    transition: all 0.3s linear;
  }
  #section4 .section-content .stats-container .active-stat-item h2 {
    transition: all 0.3s linear;
    font-size: 1.5rem;
  }
  #section4 .section-content .stats-container .active-stat-item hr {
    transition: all 0.3s linear;
    border-color: #4169e1;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    height: 8rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  footer p {
    font-size: 1rem;
  }
  footer select {
    font-size: 1rem;
  }
}
/* For Tablet Devices */
@media (min-width: 441px) and (max-width: 768px) {
  body {
    overflow-y: auto;
  }
  .container {
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }
  header {
    position: static;
    margin: 2rem 0;
  }
  header img {
    width: 14rem;
    height: auto;
  }
  header .header-btn-price {
    display: none;
  }
  aside {
    display: none;
  }
  #section1 {
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 100vh;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
    margin-bottom: 4rem;
  }
  #section1 .section1-block p {
    display: none;
  }
  #section1 .section1-block .section-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: 1.5rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens {
    width: 100%;
    margin-left: auto;
    display: block;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-text {
    display: block;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button {
    background-color: transparent;
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(54, 100, 218);
    border-radius: 2rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    width: 12rem;
    height: 3rem;
    margin: 1rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:hover {
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgb(90, 136, 255);
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:active {
    border: 2px solid rgb(13, 36, 92);
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
  #section1 .section1-block .section-content .phone-mockup {
    width: 100%;
    height: auto;
  }
  #section2 {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    align-items: flex-start;
    margin-bottom: 3rem;
  }
  #section2 .section-content {
    width: 100%;
  }
  #section2 .section-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
  }
  #section2 .section-content .outsourcing {
    width: 100%;
    flex-direction: column;
  }
  #section2 .section-content .outsourcing .second-section-box {
    border-left: 1px solid #fff;
    padding: 1rem;
  }
  #section2 .section-content .outsourcing .second-section-box h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box hr {
    display: none;
  }
  #section2 .section-content .outsourcing .active-second-section-box {
    opacity: 1;
    border-color: #4169e1;
    transition: all 0.3s linear;
  }
  #section2 .section-content .outsourcing .active-second-section-box h2 {
    transition: all 0.3s linear;
    font-size: 1.7rem;
  }
  #section2 .section-content .video-placeholder {
    width: 100%;
    max-height: 15rem;
    margin: 0;
    margin-top: 3rem;
  }
  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  #section3 .section-content {
    width: 100%;
  }
  #section3 .section-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
    margin-top: 0;
    word-wrap: break-word;
  }
  #section3 .section-content .services-grid {
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  #section3 .section-content .services-grid .service-item {
    height: 12rem;
  }
  #section3 .section-content .services-grid .service-item .service-icon {
    height: 70%;
  }
  #section3 .section-content .services-grid .service-item .service-icon img {
    width: 5rem;
    height: 5rem;
  }
  #section3 .section-content .services-bottom h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }
  #section3 .section-content .services-bottom p {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  #section3 .section-content .services-bottom button {
    width: 12rem;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  #section4 {
    width: 100%;
    height: 100%;
    align-items: flex-start;
  }
  #section4 .section-content {
    width: 100%;
  }
  #section4 .section-content h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  #section4 .section-content .stats-container {
    width: 100%;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
  }
  #section4 .section-content .stats-container .stat-item {
    border-left: none;
    padding-left: 0.5rem;
    padding: 1rem;
  }
  #section4 .section-content .stats-container .stat-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  #section4 .section-content .stats-container .stat-item hr {
    display: block;
  }
  #section4 .section-content .stats-container .stat-item p {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
  #section4 .section-content .stats-container .active-stat-item {
    opacity: 1;
    transition: all 0.3s linear;
  }
  #section4 .section-content .stats-container .active-stat-item h2 {
    transition: all 0.3s linear;
    font-size: 1.7rem;
  }
  #section4 .section-content .stats-container .active-stat-item hr {
    transition: all 0.3s linear;
    border-color: #4169e1;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    height: 10rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  footer p {
    font-size: 1.2rem;
  }
  footer select {
    font-size: 1.2rem;
  }
}
/* For Desktop Devices */
@media (min-width: 769px) {
  body {
    overflow-y: auto;
  }
  .container {
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }
  header {
    position: static;
    margin: 2rem 0;
  }
  header img {
    width: 14rem;
    height: auto;
  }
  header .header-btn-price {
    display: none;
  }
  aside {
    display: none;
  }
  #section1 {
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 100vh;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
    margin-bottom: 4rem;
  }
  #section1 .section1-block p {
    display: none;
  }
  #section1 .section1-block .section-content h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 2rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens {
    width: 100%;
    margin-left: auto;
    display: block;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-text {
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button {
    background-color: transparent;
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid rgb(54, 100, 218);
    border-radius: 2rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    width: 12rem;
    height: 3rem;
    margin: 1rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:hover {
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgb(90, 136, 255);
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:active {
    border: 2px solid rgb(13, 36, 92);
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
  #section1 .section1-block .section-content .phone-mockup {
    width: 100%;
    height: auto;
  }
  #section2 {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    align-items: flex-start;
    margin-bottom: 3rem;
  }
  #section2 .section-content {
    width: 100%;
  }
  #section2 .section-content h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  #section2 .section-content .outsourcing {
    width: 100%;
    flex-direction: column;
  }
  #section2 .section-content .outsourcing .second-section-box {
    border-left: 1px solid #fff;
    padding: 1rem;
  }
  #section2 .section-content .outsourcing .second-section-box h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  #section2 .section-content .outsourcing .second-section-box p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box hr {
    display: none;
  }
  #section2 .section-content .outsourcing .active-second-section-box {
    opacity: 1;
    border-color: #4169e1;
    transition: all 0.3s linear;
  }
  #section2 .section-content .outsourcing .active-second-section-box h2 {
    transition: all 0.3s linear;
    font-size: 2.5rem;
  }
  #section2 .section-content .video-placeholder {
    width: 100%;
    max-height: 20rem;
    margin: 0;
    margin-top: 4rem;
  }
  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  #section3 .section-content {
    width: 100%;
  }
  #section3 .section-content h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    margin-bottom: 3rem;
    margin-top: 0;
    word-wrap: break-word;
  }
  #section3 .section-content .services-grid {
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  #section3 .section-content .services-grid .service-item {
    height: 15rem;
  }
  #section3 .section-content .services-grid .service-item .service-icon {
    height: 70%;
  }
  #section3 .section-content .services-grid .service-item .service-icon img {
    width: 6rem;
    height: 6rem;
  }
  #section3 .section-content .services-bottom h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
  }
  #section3 .section-content .services-bottom p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  #section3 .section-content .services-bottom button {
    width: 15rem;
    height: 3.5rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  #section4 {
    width: 100%;
    height: 100%;
    align-items: flex-start;
  }
  #section4 .section-content {
    width: 100%;
  }
  #section4 .section-content h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 2rem;
  }
  #section4 .section-content .stats-container {
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
  }
  #section4 .section-content .stats-container .stat-item {
    border-left: none;
    padding-left: 0.5rem;
    padding: 1rem;
  }
  #section4 .section-content .stats-container .stat-item h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #section4 .section-content .stats-container .stat-item hr {
    display: block;
  }
  #section4 .section-content .stats-container .stat-item p {
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
  #section4 .section-content .stats-container .active-stat-item {
    opacity: 1;
    transition: all 0.3s linear;
  }
  #section4 .section-content .stats-container .active-stat-item h2 {
    transition: all 0.3s linear;
    font-size: 2.5rem;
  }
  #section4 .section-content .stats-container .active-stat-item hr {
    transition: all 0.3s linear;
    border-color: #4169e1;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    height: 12rem;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  footer p {
    font-size: 1.5rem;
  }
  footer select {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */