* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 300;
  scroll-behavior: smooth !important;
}

.d-none {
  display: none;
}

/* Glass box */
body {
  background: url("assets/bg.svg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100dvh;
  margin: auto;
  overflow-x: hidden;
  padding: 0 1.25rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}
.container::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  position: sticky;
  top: 3.75rem;
  z-index: 99;
}
header .header-btn-price {
  background-color: transparent;
  color: white;
  padding: 0.62rem;
  border: 2px solid rgb(54, 100, 218);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  width: 10.68rem;
  height: 3.18rem;
  font-size: 0.87rem;
}
header .header-btn-price:hover {
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  border-color: rgb(90, 136, 255);
}
header .header-btn-price:active {
  border: 2px solid rgb(13, 36, 92);
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
}

aside {
  width: auto;
  position: fixed;
  top: 30%;
}
aside .nav-line {
  height: 24rem;
  width: 1px;
  border: 1px dashed rgba(255, 255, 255, 0.2862745098);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
aside .nav-line .nav-dot {
  width: 0.32rem;
  height: 0.32rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5960784314);
  cursor: pointer;
}
aside .nav-line .nav-dot span {
  opacity: 0;
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  display: block;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 20px;
  position: relative;
  left: 1em;
  top: -0.8rem;
}
aside .nav-line .active-dot {
  background: #4169e1;
  box-shadow: 0 0 10px 0 #4169e1;
  transition: all 0.3s linear;
}
aside .nav-line .active-dot span {
  opacity: 1;
  animation: scaleLittle 0.5s linear both;
}
@keyframes scaleLittle {
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.section {
  scroll-snap-align: center;
}

#section1 {
  width: 80%;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100dvh;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#section1 .section1-block {
  display: flex;
  align-items: center;
  gap: 0 2em;
}
#section1 .section1-block p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  -webkit-hyphens: auto;
          hyphens: auto;
}
#section1 .section1-block .section-content {
  position: relative;
}
#section1 .section1-block .section-content h1 {
  text-align: end;
  font-size: 7rem;
  font-weight: normal;
}
#section1 .section1-block .section-content .phone-mockup {
  max-width: 50.56rem;
  max-height: 37.06rem;
}

#section2 {
  width: 80%;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100dvh;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#section2 .section-content h1 {
  text-align: end;
  font-size: 7rem;
  font-weight: normal;
  margin: 2.37rem 0;
}
#section2 .section-content .outsourcing {
  display: flex;
  justify-content: space-between;
}
#section2 .section-content .outsourcing .second-section-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  opacity: 0.5;
  transition: all 0.4s linear;
  will-change: transform, opacity;
  transform: translateZ(0);
}
#section2 .section-content .outsourcing .second-section-box h2 {
  font-size: 1.25rem;
  line-height: 2rem;
}
#section2 .section-content .outsourcing .second-section-box p {
  font-size: 0.87rem;
  line-height: 1.31rem;
}
#section2 .section-content .outsourcing .second-section-box hr {
  margin: 1rem 0;
  border: 1px solid #fff;
}
#section2 .section-content .outsourcing .active-second-section-box {
  opacity: 1;
  transition: all 0.3s linear;
}
#section2 .section-content .outsourcing .active-second-section-box h2 {
  transition: all 0.3s linear;
  font-size: 32px;
}
#section2 .section-content .outsourcing .active-second-section-box hr {
  transition: all 0.3s linear;
  max-width: 0;
  animation: fill 2s ease;
  animation-fill-mode: both;
  border-color: #4169e1;
  border-color: #4169e1;
}
#section2 .video-placeholder {
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  width: 64.37rem;
  height: 23.75rem;
  margin: 3.81rem auto;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
#section2 .video-placeholder:hover {
  background-color: rgba(255, 255, 255, 0.164);
}

#section3 {
  width: 80%;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100dvh;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
#section3 .section-content h1 {
  text-align: end;
  font-size: 5.43rem;
  line-height: 6.56rem;
  font-weight: normal;
  margin-bottom: 3.75rem;
}
#section3 .section-content .services-grid {
  display: flex;
  gap: 0 2em;
  margin: 2em 0;
  justify-content: flex-end;
}
#section3 .section-content .services-grid .service-item {
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  width: 13.75rem;
  height: 17.68rem;
  cursor: pointer;
  border-radius: 0.62rem;
  justify-content: center;
}
#section3 .section-content .services-grid .service-item .service-icon {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.62rem;
  background-color: rgba(255, 255, 255, 0.096);
}
#section3 .section-content .services-grid .service-item p {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1em;
  font-size: 0.9rem;
}
#section3 .section-content .services-bottom {
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
#section3 .section-content .services-bottom h2 {
  font-size: 2.25rem;
  line-height: 2.25rem;
  border-bottom: 2px solid #4169e1;
  margin-bottom: 3.75rem;
}
#section3 .section-content .services-bottom p {
  font-size: 1.25rem;
  line-height: 1.93rem;
}
#section3 .section-content .services-bottom button {
  background-color: transparent;
  color: white;
  padding: 0.62rem;
  border: 2px solid rgb(54, 100, 218);
  border-radius: 2rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  transition: all 0.2s linear;
  width: 8.37rem;
  height: 3.18rem;
  margin: 1.25rem 0 1.25rem auto;
}
#section3 .section-content .services-bottom button:hover {
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  border-color: rgb(90, 136, 255);
}
#section3 .section-content .services-bottom button:active {
  border: 2px solid rgb(13, 36, 92);
  -webkit-backdrop-filter: blur(66px);
          backdrop-filter: blur(66px);
  box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
}

.last-section #section4 {
  width: 80%;
  height: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  max-height: 100dvh;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.last-section #section4 .section-content h1 {
  text-align: end;
  font-size: 5.43rem;
  line-height: 6.56rem;
  font-weight: normal;
  margin: 3.75rem 0;
}
.last-section #section4 .section-content .stats-container {
  border: 1px solid rgba(245, 245, 245, 0.103);
  background-color: rgba(255, 255, 255, 0.068);
  backdrop-filter: blur(41px);
  -webkit-backdrop-filter: blur(41px);
  width: 72.43rem;
  height: 20.87rem;
  border-radius: 0.62rem;
  display: flex;
  align-items: center;
  padding: 2em;
  flex-wrap: wrap;
}
.last-section #section4 .section-content .stats-container .stat-item {
  opacity: 0.5;
  flex: 1;
  will-change: transform, opacity;
  transform: translateZ(0);
}
.last-section #section4 .section-content .stats-container .stat-item h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.last-section #section4 .section-content .stats-container .stat-item hr {
  margin: 1em 0;
  border-color: #fff;
}
.last-section #section4 .section-content .stats-container .stat-item p {
  font-size: 0.87rem;
  line-height: 1.31rem;
}
.last-section #section4 .section-content .stats-container .active-stat-item {
  opacity: 1;
}
.last-section #section4 .section-content .stats-container .active-stat-item h2 {
  font-size: 2rem;
}
.last-section #section4 .section-content .stats-container .active-stat-item hr {
  border-color: #4169e1;
}
.last-section footer {
  width: 100%;
  height: 11.12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.last-section footer .footer-links,
.last-section footer .footer-lng {
  display: flex;
  align-items: center;
  gap: 0 1em;
}
.last-section footer img {
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.last-section footer img:hover {
  opacity: 0.7;
}
.last-section footer p {
  font-size: 0.87rem;
  line-height: 1.37rem;
}
.last-section footer #language {
  background: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.last-section footer #language option {
  background: #1a1a1a;
  color: white;
  cursor: pointer;
}

.fadeIn {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

@keyframes fill {
  to {
    max-width: 100%;
  }
}
@keyframes spill {
  from {
    opacity: 0.5;
  }
  to {
    height: 9.375rem;
    opacity: 1;
  }
}
@media (320px <= width <= 440px) {
  body {
    overflow-y: auto;
  }
  .container {
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 100%;
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }
  header {
    position: static;
    margin: 2rem 0;
  }
  header img {
    width: 14rem;
    height: auto;
  }
  header .header-btn-price {
    display: none;
  }
  aside {
    display: none;
  }
  #section1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  #section1 .section1-block p {
    display: none;
  }
  #section1 .section1-block .section-content h1 {
    font-size: 4rem;
    line-height: 3.875rem;
    margin: 1.81rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens {
    width: 85%;
    margin-left: auto;
    display: block;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-text {
    display: block;
    font-size: 1.3rem;
    line-height: 1.81rem;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button {
    background-color: transparent;
    color: white;
    padding: 0.62rem;
    border: 2px solid rgb(54, 100, 218);
    border-radius: 2rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    width: 12.5rem;
    height: 3.125rem;
    margin: 1rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:hover {
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgb(90, 136, 255);
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:active {
    border: 2px solid rgb(13, 36, 92);
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
  #section1 .section1-block .section-content .phone-mockup {
    width: 100%;
    height: 100%;
  }
  #section2 {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    margin-bottom: 6.68rem;
  }
  #section2 .section-content {
    width: 100%;
  }
  #section2 .section-content h1 {
    font-size: 3.5rem;
    line-height: 3.87rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  #section2 .section-content .outsourcing {
    width: 100%;
    flex-direction: column;
  }
  #section2 .section-content .outsourcing .second-section-box {
    border-left: 1px solid #fff;
    padding: 1em;
    transform: translateZ(0);
    will-change: transform;
  }
  #section2 .section-content .outsourcing .second-section-box h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box hr {
    display: none;
  }
  #section2 .section-content .outsourcing .active-second-section-box {
    opacity: 1;
    border-color: #4169e1;
    transition: all 0.3s linear;
  }
  #section2 .section-content .outsourcing .active-second-section-box h2 {
    font-size: 1.7rem;
  }
  #section2 .section-content .video-placeholder {
    width: 100%;
    max-height: 11rem;
    margin: 0;
    margin-top: 3rem;
  }
  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  #section3 .section-content {
    width: 100%;
  }
  #section3 .section-content h1 {
    font-size: 3rem;
    line-height: 3.43rem;
    margin-bottom: 4rem;
    margin-top: 0;
    word-wrap: break-word;
  }
  #section3 .section-content .services-grid {
    width: 100%;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    margin-bottom: 4rem;
  }
  #section3 .section-content .services-grid .service-item {
    width: calc(50% - 0.62rem);
    width: -webkit-calc(100% / 2 - 0.62rem);
    height: 14.81rem;
  }
  #section3 .section-content .services-grid .service-item .service-icon {
    height: 80%;
  }
  #section3 .section-content .services-grid .service-item .service-icon img {
    width: 6.25rem;
    height: 6.25rem;
  }
  #section3 .section-content .services-bottom h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 37px;
  }
  #section3 .section-content .services-bottom p {
    font-size: 20px;
    line-height: 31px;
  }
  #section3 .section-content .services-bottom button {
    width: 175px;
    height: 51px;
    font-size: 20px;
    line-height: 24px;
  }
  .last-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.25rem;
    gap: 1.5rem 0;
  }
  .last-section #section4 {
    width: 100%;
    height: 50%;
    align-items: flex-start;
  }
  .last-section #section4 .section-content {
    width: 100%;
  }
  .last-section #section4 .section-content h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }
  .last-section #section4 .section-content .stats-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
  }
  .last-section #section4 .section-content .stats-container .stat-item {
    border-left: 1px solid #fff;
    padding-left: 0.62rem;
    padding: 1em;
  }
  .last-section #section4 .section-content .stats-container .stat-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .last-section #section4 .section-content .stats-container .stat-item hr {
    display: none;
  }
  .last-section #section4 .section-content .stats-container .stat-item p {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item {
    opacity: 1;
    border-color: #4169e1;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item h2 {
    font-size: 1.7rem;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item hr {
    border-color: #4169e1;
  }
  .last-section footer {
    width: 100%;
    margin: 0 auto;
    height: 10.81rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem 0;
  }
  .last-section footer p {
    font-size: 1rem;
  }
  .last-section footer select {
    font-size: 1rem;
  }
}
@media (440.1px <= width <= 768px) {
  body {
    overflow-y: auto;
  }
  .container {
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 100%;
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }
  header {
    position: static;
    margin: 2rem 0;
  }
  header img {
    width: 14rem;
    height: auto;
  }
  header .header-btn-price {
    display: none;
  }
  aside {
    display: none;
  }
  #section1 {
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 100dvh;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
    margin-bottom: 6.25rem;
  }
  #section1 .section1-block p {
    display: none;
  }
  #section1 .section1-block .section-content h1 {
    font-size: 4rem;
    line-height: 3.875rem;
    margin: 1.81rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens {
    width: 85%;
    margin-left: auto;
    display: block;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-text {
    display: block;
    font-size: 1.3rem;
    line-height: 1.81rem;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button {
    background-color: transparent;
    color: white;
    padding: 0.62rem;
    border: 2px solid rgb(54, 100, 218);
    border-radius: 2rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    width: 12.5rem;
    height: 3.125rem;
    margin: 1rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:hover {
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgb(90, 136, 255);
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:active {
    border: 2px solid rgb(13, 36, 92);
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
  #section1 .section1-block .section-content .phone-mockup {
    width: 100%;
    height: 100%;
  }
  #section2 {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    align-items: flex-start;
    margin-bottom: 4.25rem;
  }
  #section2 .section-content {
    width: 100%;
  }
  #section2 .section-content h1 {
    font-size: 3.5rem;
    line-height: 3.87rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  #section2 .section-content .outsourcing {
    width: 100%;
    flex-direction: column;
  }
  #section2 .section-content .outsourcing .second-section-box {
    border-left: 1px solid #fff;
    padding: 1em;
  }
  #section2 .section-content .outsourcing .second-section-box h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box hr {
    display: none;
  }
  #section2 .section-content .outsourcing .active-second-section-box {
    opacity: 1;
    border-color: #4169e1;
  }
  #section2 .section-content .outsourcing .active-second-section-box h2 {
    font-size: 1.7rem;
  }
  #section2 .section-content .video-placeholder {
    width: 100%;
    max-height: 15rem;
    margin: 0;
    margin-top: 5rem;
  }
  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  #section3 .section-content {
    width: 100%;
  }
  #section3 .section-content h1 {
    font-size: 3rem;
    line-height: 3.43rem;
    margin-bottom: 4rem;
    margin-top: 0;
    word-wrap: break-word;
  }
  #section3 .section-content .services-grid {
    width: 100%;
    flex-wrap: wrap;
    gap: 1.2rem;
    justify-content: center;
    margin-bottom: 4rem;
  }
  #section3 .section-content .services-grid .service-item {
    width: calc(50% - 0.62rem);
    width: -webkit-calc(100% / 2 - 0.62rem);
    height: 14.81rem;
  }
  #section3 .section-content .services-grid .service-item .service-icon {
    height: 80%;
  }
  #section3 .section-content .services-grid .service-item .service-icon img {
    width: 6.25rem;
    height: 6.25rem;
  }
  #section3 .section-content .services-bottom h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 37px;
  }
  #section3 .section-content .services-bottom p {
    font-size: 20px;
    line-height: 31px;
  }
  #section3 .section-content .services-bottom button {
    width: 175px;
    height: 51px;
    font-size: 20px;
    line-height: 24px;
  }
  .last-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.25rem;
  }
  .last-section #section4 {
    width: 100%;
    height: 50%;
    align-items: flex-start;
  }
  .last-section #section4 .section-content {
    width: 100%;
  }
  .last-section #section4 .section-content h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }
  .last-section #section4 .section-content .stats-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
  }
  .last-section #section4 .section-content .stats-container .stat-item {
    border-left: 1px solid #fff;
    padding-left: 0.62rem;
    padding: 1em;
  }
  .last-section #section4 .section-content .stats-container .stat-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .last-section #section4 .section-content .stats-container .stat-item hr {
    display: none;
  }
  .last-section #section4 .section-content .stats-container .stat-item p {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item {
    opacity: 1;
    border-color: #4169e1;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item h2 {
    font-size: 1.7rem;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item hr {
    transition: all 0.3s linear;
    border-color: #4169e1;
  }
  .last-section footer {
    width: 100%;
    margin: 0 auto;
    height: 10.81rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem 0;
  }
  .last-section footer p {
    font-size: 1rem;
  }
  .last-section footer select {
    font-size: 1rem;
  }
}
@media (768.1px <= width <= 1024px) {
  body {
    overflow-y: auto;
  }
  .container {
    min-height: -moz-fit-content;
    min-height: fit-content;
    height: 100%;
    padding: 0 20px;
    scroll-snap-type: none;
    overflow-y: auto;
  }
  header {
    position: static;
    margin: 2rem 0;
  }
  header img {
    width: 14rem;
    height: auto;
  }
  header .header-btn-price {
    display: none;
  }
  aside {
    display: none;
  }
  #section1 {
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-height: 100dvh;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
    margin-bottom: 6.25rem;
  }
  #section1 .section1-block p {
    display: none;
  }
  #section1 .section1-block .section-content h1 {
    font-size: 5rem;
    line-height: 3.875rem;
    margin: 2.81rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens {
    width: 85%;
    margin-left: auto;
    display: block;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-text {
    display: block;
    font-size: 1.3rem;
    line-height: 1.81rem;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button {
    background-color: transparent;
    color: white;
    padding: 0.62rem;
    border: 2px solid rgb(54, 100, 218);
    border-radius: 2rem;
    font-weight: normal;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
    width: 12.5rem;
    height: 3.125rem;
    margin: 1rem 0;
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:hover {
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
    border-color: rgb(90, 136, 255);
  }
  #section1 .section1-block .section-content .section-default-hiddens .default-hidden-button:active {
    border: 2px solid rgb(13, 36, 92);
    -webkit-backdrop-filter: blur(66px);
            backdrop-filter: blur(66px);
    box-shadow: 0 0 15px 10px rgba(42, 75, 160, 0.63);
  }
  #section1 .section1-block .section-content .phone-mockup {
    width: 100%;
    height: 100%;
  }
  #section2 {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    align-items: flex-start;
    margin-bottom: 4.25rem;
  }
  #section2 .section-content {
    width: 100%;
  }
  #section2 .section-content h1 {
    font-size: 3.5rem;
    line-height: 3.87rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  #section2 .section-content .outsourcing {
    width: 100%;
  }
  #section2 .section-content .outsourcing .second-section-box {
    border-left: 1px solid #fff;
    padding: 1em;
  }
  #section2 .section-content .outsourcing .second-section-box h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0 0.5rem;
  }
  #section2 .section-content .outsourcing .second-section-box hr {
    display: none;
  }
  #section2 .section-content .outsourcing .active-second-section-box {
    opacity: 1;
    border-color: #4169e1;
  }
  #section2 .section-content .outsourcing .active-second-section-box h2 {
    font-size: 1.7rem;
  }
  #section2 .section-content .video-placeholder {
    width: 100%;
    max-height: 17rem;
    margin: 0;
    margin-top: 5rem;
  }
  #section3 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  #section3 .section-content {
    width: 100%;
  }
  #section3 .section-content h1 {
    font-size: 3rem;
    line-height: 3.43rem;
    margin-bottom: 4rem;
    margin-top: 0;
    word-wrap: break-word;
  }
  #section3 .section-content .services-grid {
    width: 100%;
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }
  #section3 .section-content .services-grid .service-item {
    height: 14.81rem;
  }
  #section3 .section-content .services-grid .service-item .service-icon {
    height: 80%;
  }
  #section3 .section-content .services-grid .service-item .service-icon img {
    width: 6.25rem;
    height: 6.25rem;
  }
  #section3 .section-content .services-bottom h2 {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 37px;
  }
  #section3 .section-content .services-bottom p {
    font-size: 20px;
    line-height: 31px;
  }
  #section3 .section-content .services-bottom button {
    width: 175px;
    height: 51px;
    font-size: 20px;
    line-height: 24px;
  }
  .last-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4.25rem;
  }
  .last-section #section4 {
    width: 100%;
    height: 50%;
    align-items: flex-start;
  }
  .last-section #section4 .section-content {
    width: 100%;
  }
  .last-section #section4 .section-content h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 3.5rem;
  }
  .last-section #section4 .section-content .stats-container {
    width: 100%;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
  }
  .last-section #section4 .section-content .stats-container .stat-item {
    border-left: none;
    padding-left: 0.62rem;
    padding: 1em;
  }
  .last-section #section4 .section-content .stats-container .stat-item h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .last-section #section4 .section-content .stats-container .stat-item hr {
    display: block;
  }
  .last-section #section4 .section-content .stats-container .stat-item p {
    font-size: 1rem;
    margin: 0 0.5rem;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item {
    opacity: 1;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item h2 {
    font-size: 1.7rem;
  }
  .last-section #section4 .section-content .stats-container .active-stat-item hr {
    border-color: #4169e1;
  }
  .last-section footer {
    width: 100%;
    margin: 0 auto;
    height: 10.81rem;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem 0;
  }
  .last-section footer p {
    font-size: 1rem;
  }
  .last-section footer select {
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */